<h2><strong>Availability hours<i class="far fa-address-book"></i></strong></h2>  &nbsp;
<%= link_to new_sellers_dashboard_availability_hour_path do %>
  Add new <i class="far fa-square-plus"></i>
<%end%>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  
  <tbody>
    <%= render @availability_hours %>
  </tbody>
</table>
